@import "../../../font.css";

#section {
  border-radius: 0px 0px 30px 30px;
  height: 400px;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}


@media screen and (min-width: 480px) {
  #section {
    height: 490px;
  }
}

.sea {
  height: 175px;
}

@media screen and (min-width: 480px) {
  .sea {
    margin-top: 3%;
    height: 260px;
  }

  .searchBtnCenter {
    margin: auto;
  }
}

.selection {
  /* background-image: url("./Asset5.svg"); */
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.Search form {
  color: rgb(147, 148, 149);
  display: flex;
  padding: 2px;
  border: 1px solid white;
  border-radius: 5px;
}

.Search input[type="text"] {
  border: none;
  background: transparent;
  margin: 0;
  font-size: 14px;
  color: rgb(147, 148, 149);
  border: 1px solid transparent;
  border-radius: inherit;
}

.Search input[type="text"]::placeholder {
  color: rgb(147, 148, 149);
  font-size: 14px;
  font-family: Gotham Rounded Book;
}

.Search form.nosubmit {
  border: none;
  padding: 0;
}

.Sbt {
  font-family: Gotham Rounded Book;
}

@media screen and (min-width: 480px) {
  .Sbt button {
    font-size: 16px;
    margin: auto;
  }

  .selection {
    padding-top: 5%;
    padding-bottom: 13%;
  }


  .Sbt {
    margin-top: 45px;
    /* margin-left: 300px; */
  }

}

.nosubmit input {
  width: 100%;
  padding-left: 30px;
  padding-top: 8px;
}


/* .dropdown-menu.show {
  margin-left: 20px !important;
} */

.nosubmit {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(147, 148, 149);
  background: transparent url("./search.svg") no-repeat 2px center;
}

/* @media screen and (min-width: 480px) {
  .nosubmit input {
    text-align: center;
  }

  .nosubmit {
    background: transparent url("./search.svg") no-repeat 300px center;
    background-size: 20px;
  }
} */

.Search {
  background-color: white;
}

.selection-h {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
  color: #fff;
}

@media screen and (min-width: 480px) {
  .selection-h {
    height: 300%;
    margin: 0;
    padding: 0;
  }
}

.selection-h h6 {
  font-family: Gotham Rounded Bold;
  margin: 0;
  color: #fff;
  /* -webkit-text-stroke: .5px black;  */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* number of lines to show */
  -webkit-box-orient: vertical;
  padding: 0;
  margin-bottom: -5px;
  font-size: 20px;
}

.incDoneBtn {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-left: 65px;
  margin-top: 30px;
  font-size: 15px;
  font-family: Gotham Rounded Medium;
  color: #fff;
  background-color: #EF4E22;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.incDoneBtn:hover {
  background-color: #fca527;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-1px); */
}

.mBs {
  font-size: 13px;
}

@media screen and (min-width: 370px) {
  .mBs {
    font-size: 13px;
  }
}

@media screen and (max-width: 370px) {
  .mBs {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .mBs {
    font-size: 10px;
  }
}

.mBs:focus,
.mBs:hover {
  outline: none;
}

.PMB {
  font-size: 20px;
  padding-left: 12px;
}

.PMB1 {
  font-size: 20px;
  padding-left: 62px;
}

.PMB:focus,
.PMB:hover {
  outline: none;
}

.nosubmit:focus,
.nosubmit:hover {
  outline: none;
}

.cincout {
  margin-left: 35px;
}

.dateRangeCont {
  margin-left: -5px;
}

.dateDoneBtn {
  width: 100px;
  height: 30px;
  padding: 5px;
  margin-left: 110px;
  font-family: Gotham Rounded Medium;
  font-size: 15px;
  color: #fff;
  background-color: #EF4E22;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.dateDoneBtn:hover {
  background-color: #fca527;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-1px); */
}

.selection-h p {
  font-family: Gotham Rounded Book;
  /* -webkit-text-stroke: .1px black;  */
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@media screen and (min-width: 480px) {
  .selection-h p {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* .mBs1 {
    margin-left: 40px;
  } */
}

.SearchButton {
  position: absolute;
  top: 140px;
  width: 90%;
  height: 28px;
  font-size: 14px;
  font-family: Gotham Rounded Bold;
  color: #fff;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  background-color: #EF4E22;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  z-index: 50;
}

.SearchButton:hover {
  background-color: #fca527;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  /* transform: translateY(-1px); */
}

@media screen and (min-width: 480px) {
  .SearchButton {
    width: 93%;
    line-height: 22px;
    top: 210px;
  }
}

.icon-bar1 {
  position: fixed;
  top: 95%;
  left: 35%;
  z-index: 100;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar1 button:hover {
  background-color: none;
}

/* 
.react-datalist-input__container > * {
  box-sizing: border-box;
}

.react-datalist-input__container {
  width: 100%;
  position: relative;
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --gray: rgb(200, 200, 200);
  --padding: 5px;
  --border-radius: 5px;
  --border: 1px solid var(--gray);
}

.react-datalist-input__textbox {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
}

.react-datalist-input__listbox {
  width: 100%;
  position: absolute;
  margin: 2px 0 0 0;
  padding: 0;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: white;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  box-shadow: var(--shadow);
  z-index: 10;
}

.react-datalist-input__listbox-option {
  width: 100%;
  cursor: pointer;
  margin: 0;
  padding: var(--padding);
}

.react-datalist-input__listbox-option:focus {
  background-color: var(--gray);
}

.react-datalist-input__listbox-option:hover {
  background-color: var(--gray);
}

.popoverBody{
  width: 300px;
  margin-top: -8px;
} */
@media screen and (min-width: 480px) {

  .Search input,
  .Search input::-webkit-input-placeholder {
    font-size: 18px !important;
  }

  .ns {
    width: 30px;
  }
}