.upperText {
    font-family: Montserrat Bold;
    font-size: 14px;
}

.lowerText {
    font-family: Montserrat Thin;
    font-size: 15px;
}

@media screen and (min-width: 500px) {
    .upperText {
        font-size: 18px;
    }

    .lowerText {
        font-size: 19px;
    }
}

.downloadAppContainer {
    margin-top: 25px;
    margin-bottom: 30px;
    margin-left: 17px;
    margin-right: 17px;
}

@media screen and (min-width: 480px) {
    .downloadAppContainer {
        width: 84%;
        margin-top: 40px;
        margin-bottom: 60px;
    }

}