.thumbnail {
    position: relative;
    display: inline-block;
}

.fullBanner {
    padding: 8px;
}

.caption {
    position: absolute;
    top: 20px;
    width: 70px;
    border: 1px solid white;
    border-radius: 5px 30px 30px 5px;
    background-color: #fff;
}

.caption1 {
    position: absolute;
    top: 86%;
    width: 100%;
    height: 40px;
    left: 50%;
    background-color: rgba(6, 10, 6, 0.5);
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

.buttonsSFContainer {
    margin-top: 10px;
}

.filtButn {
    margin-top: 20px;
}

.showingSignCont {
    margin-top: 20px;
}

.resWhatsapp {
    margin-left: 1px;
    margin-right: 1px;
}

.resLoader {
    margin-bottom: 10px;
}

.caption img {
    width: 60px;
}

@media screen and (min-width: 480px) {
    .featuredImg {
        width: 1200px;
    }

    .signUpCapsule {
        width: 100%;
    }

    .caption1 {
        height: 50px;
        top: 94%;
    }

    .buttonsSFContainer {
        margin-top: 20px;
        margin-left: 90px;
    }

    .filtButn {
        margin-left: -150px;
    }

    .showingSignCont {
        width: 89%;
        margin: auto;
    }

    .resLoader {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .resWhatsapp {
        width: 980px;
        margin: auto;
        height: 90px;
    }

    .caption {
        width: 120px;
        height: 45px;
    }

    .caption img {
        width: 100px;
    }

}

@media screen and (min-width: 1200px) {
    .featuredImg {
        width: 1400px;
    }
}

@media screen and (min-width: 1400px) {
    .featuredImg {
        width: 1600px;
    }
}

.imgWid0 {
    width: 3vw;
}

#popover-basic1 {
    margin-top: 30px;
}

@media screen and (min-width: 480px) {
    .fullBanner {
        padding: 10px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .imgWid0 {
        width: 20px;
    }
}

.hotel-details-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.2;
    white-space: inherit;
}

.imgWidr {
    width: 5vw;
}

@media screen and (min-width: 480px) {
    .imgWidr {
        width: 30px;
    }
}

.area {
    vertical-align: text-top;
}

.dfl {
    margin: 0 !important;
    padding: 0 !important;
}

/* .slick-slide img {
    display: inline-block;
    padding: 0;
    margin: 0;
} */


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 47%;
    display: block;
    padding: 0;
    -webkit-transform: translate(50, -50%);
    -ms-transform: translate(50, -50%);
    transform: translate(50, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: rgb(166, 167, 167) 0px 1px 2px 1px;
    -moz-transform: translate(50, -50%);
    -o-transform: translate(50, -50%);
}

.slick-prev:before,
.slick-next:before {
    font: normal normal normal 12px/1 FontAwesome;
    font-size: 10px;
    color: #ff3d00;
    display: flex;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-prev {
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-prev:before {
    background-image: url('./angle-left-solid.svg');
    background-repeat: no-repeat;
    height: 9px;
    color: white;
    margin-top: 5.5px;
    margin-left: 7px;
}

.slick-next {
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-next:before {
    background-image: url('./angle-right-solid.svg');
    background-repeat: no-repeat;
    height: 11px;
    color: white;
    margin-top: 4.5px;
    margin-left: 7.5px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #fff;
}

.hotel-card {
    margin: auto;
    box-sizing: content-box;
    padding-bottom: 10px;
    max-height: 140px;
}

@media screen and (min-width: 480px) {
    .hotel-card {
        width: 62%;
        max-height: 190px;
        margin-left: 350px;
    }

}

@media screen and (min-width: 1200px) {
    .hotel-card {
        margin-left: 375px;
    }

}

@media screen and (min-width: 1300px) {
    .hotel-card {
        margin-left: 400px;
    }

}

@media screen and (min-width: 1400px) {
    .hotel-card {
        margin-left: 430px;
    }

    .sortFilterLg {
        margin-left: 90px;
    }

}

@media screen and (min-width: 1500px) {
    .hotel-card {
        margin-left: 460px;
    }

}



.sliderImgs {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: bottom;
}

@media screen and (min-width: 480px) {
    .sliderImgs {
        height: 200px;
    }

}

.hotel-pricing-container-p {
    background-color: #FF334F;
    opacity: 0.8;
    color: #fff;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
    font-size: 10px;
    padding-right: 5px;
    white-space: nowrap;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media screen and (min-width: 480px) {
    .hotel-pricing-container-p {
        font-size: 15px;
        padding-top: 3px;
        padding-right: 10px;
    }
}

.hotel-pricing-container-p1 {
    color: white;
    margin: 15px;
    z-index: 0;
    opacity: 0.1;
    height: 30px;
}

.very-good span {
    white-space: nowrap;
    line-height: 1;
    font-size: 11px;
}

.very-good u {
    white-space: nowrap;
    line-height: 1;
    font-size: 11px;
}

.hotel-pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
    margin-top: -30px;
}

@media screen and (min-width: 480px) {
    .very-good span {
        font-size: 16px;
        margin-right: 5px;
    }

    .hotel-pricing-container {
        width: 30%;
        margin-top: -43px;
        padding-bottom: 10px;
    }

    .very-good u {
        font-size: 16px;
    }
}



.very-good {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
    margin-top: -8px;

}

.user-rating-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;

}

.reviewCount {
    background-image: url('./Asset20.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    text-align: center;
    background-size: cover;
    font-size: 11px;
    color: #ff3d00;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-top: -15px;
}

.imgwid4 {
    margin-left: -19px;
}

@media screen and (min-width: 480px) {
    .reviewCount {
        width: 42px;
        height: 42px;
        padding-top: 6px;
        font-size: 16px;
    }

    .user-rating-container {
        margin-left: 120px;
    }
}


.chattxt {
    margin-left: -29px;
}

@media screen and (min-width: 480px) {
    .chattxt {
        margin-top: -5px;
        line-height: 100%;
    }

    .getText {
        line-height: 120%;
    }

    .searchLogo {
        margin-top: 5px;
        width: 100px;
    }

}

.imgwiddd {
    margin-top: 10px;
}

.chatBtn {
    border: none;
    background-color: #7ed34f;
    padding: 3px;
    margin-left: .1px;
    color: white;
    border-radius: 20px;
}

.para2 {
    font-size: 13px;
}

@media screen and (min-width: 480px) {
    .chatBtn {
        padding-left: 8px;
        padding-right: 8px;
    }


    .para2 {
        font-size: 18px;
    }

}

@media screen and (max-width: 480px) {
    .rev {
        font-size: 3.9vw;
    }

    .left {
        font-size: 3vw;
    }

    .rs {
        font-size: 3vw;
    }

    .free {
        font-size: 3vw;
    }

    .hotel {
        font-size: 3.6vw;
    }

    .area {
        font-size: 3.9vw;
        vertical-align: text-top;
    }

    .imgWid1 {
        width: 12vw;
        vertical-align: text-top;
    }

    .chat {
        font-size: 2.5vw;
    }
}

.freepartTxt {
    font-size: 10px;
}

.hotel {
    margin-left: 2px;
}

@media screen and (min-width: 480px) {
    .imgWid1 {
        width: 70px;
        margin-top: 12px;
    }

    .freepartTxt {
        font-size: 15px;
    }

    .hotel {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 5px;
    }
}

@media screen and (min-width: 480px) {
    .rs {
        font-size: 3vw;
        float: right;
    }
}

@media screen and (max-width: 480px) {
    .para {
        font-size: 14px;
    }
}

.VAL {
    vertical-align: text-bottom;
}

@media screen and (max-width: 380px) {
    .para {
        font-size: 12px;
    }
}


.Buttons {
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    font-family: Montserrat Regular;
    background-color: #EF4E22;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.Buttons:hover {
    background-color: #fca527;
}

/* sort screen */

.side-popup,
.side-search-popup,
.side-gender-popup,
.filter-side-popup,
.sort-popup {
    /* right: -200%; */
    transition: all 0.5s linear;
}

.sort-popup-hide {
    right: -200%;
}

.sort-popup-show {
    right: 0;
}

.top-0 {
    top: 0;
}

.z-index-999 {
    z-index: 999;
}

.line-height-21 {
    line-height: 21px;
}

.ft-18 {
    font-size: 18px !important;
}

.z-index-999 {
    z-index: 999;
}

.bg-orange {
    background-color: #ff3d00;
}

.gr-medium {
    font-family: 'gothamroundedmedium' !important;
}

.sort-popup a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.custom-control-label-sort {
    width: 85%;
}

.custom-control-label-sort:before,
.custom-control-label-sort:after {
    right: -1.5rem;
    left: unset;
    border-radius: 0 !important;
    color: #000 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.custom-checkbox .custom-control-input-sort:checked~.custom-control-label-sort::after {
    background-image: url(https://www.roomph.pk/mobile/images/checked.svg);
    background-size: 100%;
}

.custom-control-label-sort:before,
.custom-control-label-sort:after {
    right: -1.5rem;
    left: unset;
    border-radius: 0 !important;
    color: #000 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.cityStar {
    vertical-align: text-top;
    font-size: 13px;
}

.priceRs {
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 5px;
}

@media screen and (min-width: 480px) {
    .cityStar {
        font-size: 15px;
    }

    .priceRs {
        font-size: 22px;
        margin-top: -10px;
    }
}


.priceRs1 {
    color: #FF334F;
    margin-top: -25px;
    font-size: 14px;
    margin-bottom: 5px;
    z-index: 1000;
}

.changeDatebtn {
    background-image: url('./Asset 21.png');
    background-position: center top;
    background-size: 20px;
    background-repeat: no-repeat;
    width: 70px;
    font-size: 8px;
    border: 1px solid #b3b3b3;
    border-radius: 10px;
    padding: 5px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.changeDateContainer {
    margin-top: -55px;
}

@media screen and (min-width: 480px) {
    .changeDateContainer {
        margin-top: -40px;
    }

    .changeDatebtn {
        background-position: center 5px;
        background-size: 30px;
        padding-top: 35px;
        margin-left: -120px;
        width: 150px;
        height: 100px;
        font-size: 15px;
    }

    .priceRs1 {
        margin-top: -50px;
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {
    .sortFilterLg {
        width: 22%;
        padding: 20px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 1px 2px 1px rgb(205, 206, 206);
        border: 1px solid #b3b3b3;
        margin-top: 20px;
        margin-bottom: -570px;
        margin-left: 80px;
    }
}

@media screen and (min-width: 1400px) {
    .sortFilterLg {
        margin-left: 90px;
    }

}

@media screen and (min-width: 1500px) {
    .sortFilterLg {
        margin-left: 100px;
    }

}

.chkBoxTextN {
    margin-left: 10px !important;
}

.dottedLineResult {
    margin-bottom: 1.5px;
}

.pkr1 {
    border: 2px solid #ff3d00;
    border-radius: 10px;
    padding: 3px;
    width: 50px;
    height: 50px;
    font-size: 12px;
    box-shadow: 1px 1px 1px rgb(205, 206, 206);
}

.priceRangeLP {
    margin-left: 20px;
}