.thumbnail {
    position: relative;
    display: inline-block;
}

.imgWid0 {
    width: 3vw;
}

.hotel-details-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    line-height: 1.2;
    white-space: inherit;
}

.imgWidr {
    width: 5vw;
}

.area {
    vertical-align: text-top;
}

.dfl {
    margin: 0 !important;
    padding: 0 !important;
}

.slick-slide img {
    display: inline-block;
    padding: 0;
    margin: 0;
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(50, -50%);
    -ms-transform: translate(50, -50%);
    transform: translate(50, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #fff;
    box-shadow: rgb(166, 167, 167) 0px 1px 2px 1px;
    -moz-transform: translate(50, -50%);
    -o-transform: translate(50, -50%);
}

.slick-prev:before,
.slick-next:before {
    font: normal normal normal 12px/1 FontAwesome;
    font-size: 10px;
    color: #ff3d00;
    display: flex;
    top: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-prev {
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-prev:before {
    content: '\f053';
}

.slick-next {
    width: 20px;
    height: 20px;
    z-index: 999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.slick-next:before {
    content: '\f054';
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: #fff;
}

.hotel-card {
    box-sizing: content-box;
    max-height: 164px;
}

.sliderImgs {
    width: 100%;
    height: 164px;
    object-fit: cover;
    object-position: bottom;
}

.hotel-pricing-container-p {
    background-color: #FF334F;
    opacity: 0.8;
    color: #fff;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
    font-size: 10px;
    white-space: nowrap;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.very-good span {
    white-space: nowrap;
    line-height: 1;
    font-size: 11px;
}

.very-good u {
    white-space: nowrap;
    line-height: 1;
    font-size: 11px;
}

.hotel-pricing-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px;
    margin: 0px;
}

.very-good {
    display: flex;
    flex-direction: column;
    margin-right: 3px;
}

.user-rating-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
    align-items: flex-end;
}

.reviewCount {
    background-image: url('./Asset20.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    text-align: center;
    background-size: cover;
    font-size: 11px;
    color: #ff3d00;
    font-weight: 700;
}

.imgwid4 {
    margin-left: -19px;
}

.chattxt {
    margin-left: -29px;
}

@media screen and (max-width: 480px) {
    .rev {
        font-size: 3.9vw;
    }
    .left {
        font-size: 3vw;
    }
    .rs {
        font-size: 3vw;
    }
    .free {
        font-size: 3vw;
    }
    .hotel {
        font-size: 3.6vw;
    }
    .area {
        font-size: 3.9vw;
        vertical-align: text-top;
    }
    .imgWid1 {
        width: 12vw;
        vertical-align: text-top;
    }
    .chat {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 480px) {
    .rs {
        font-size: 3vw;
        float: right;
    }
}

@media screen and (max-width: 480px) {
    .para {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .para {
        font-size: 12px;
    }
}

.caption {
    position: absolute;
    top: 20px;
    width: 70px;
    border: 1px solid white;
    border-radius: 5px 30px 30px 5px;
    background-color: #fff;
}

.caption1 {
    position: absolute;
    top: 86%;
    width: 100%;
    height: 50px;
    left: 50%;
    background-color: rgba(6, 10, 6, 0.5);
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .caption1 {
        height: 40px;
    }
}

.Buttons {
    width: 80px;
    height: 30px;
    font-size: 16px;
    color: #fff;
    font-family: Montserrat Regular;
    background-color: #EF4E22;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.Buttons:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-1px);
}


/* sort screen */

.side-popup,
.side-search-popup,
.side-gender-popup,
.filter-side-popup,
.sort-popup {
    /* right: -200%; */
    transition: all 0.5s linear;
}

.sort-popup-hide {
    right: -200%;
}

.sort-popup-show {
    right: 0;
}

.top-0 {
    top: 0;
}

.z-index-999 {
    z-index: 999;
}

.line-height-21 {
    line-height: 21px;
}

.ft-18 {
    font-size: 18px !important;
}

.z-index-999 {
    z-index: 999;
}

.bg-orange {
    background-color: #ff3d00;
}

.gr-medium {
    font-family: 'gothamroundedmedium' !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.custom-control-label-sort {
    width: 85%;
}

.custom-control-label-sort:before,
.custom-control-label-sort:after {
    right: -1.5rem;
    left: unset;
    border-radius: 0 !important;
    color: #000 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}

.custom-checkbox .custom-control-input-sort:checked~.custom-control-label-sort::after {
    background-image: url(https://www.roomph.pk/mobile/images/checked.svg);
    background-size: 100%;
}

.custom-control-label-sort:before,
.custom-control-label-sort:after {
    right: -1.5rem;
    left: unset;
    border-radius: 0 !important;
    color: #000 !important;
    border-color: transparent !important;
    background-color: transparent !important;
}