.step1 {
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #ff8e00;
  width: 15px;
  height: 17px;
  font-weight: 700;
  margin: auto;
  font-size: 12px;
  box-shadow: 2px 2px 2px rgb(205, 206, 206);
}

.CI {
  font-size: 10px;
  color: red;
  font-family: Roboto Light;
  line-height: 90%;
  margin-left: -15px;
  margin-top: 2px;
  text-indent: 4px;
}

.step2 {
  border: none;
  border-radius: 50%;
  color: #ff8e00;
  background-color: #fff;
  width: 15px;
  height: 17px;
  padding-left: 3px;
  font-weight: 700;
  font-size: 12px;
  box-shadow: 2px 2px 2px rgb(205, 206, 206);
}

.stepCont {
  height: 60px;
}

@media screen and (min-width: 900px) {
  .step1 {
    font-size: 16px;
    padding-top: 3px;
    width: 25px;
    height: 27px;
  }

  .stepCont {
    height: 72px;
  }

  .CI {
    font-size: 15px;
    line-height: 90%;
    margin-left: -20px;
    margin-top: 5px;
  }

  .step2 {
    font-size: 16px;
    padding-top: 3px;
    padding-left: 5px;
    width: 25px;
    height: 27px;
  }
}