/* .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 80px;
    height: 20px;
    font-size: 9px;
    font-weight: 500;
    color: #EF4E22;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-1px);
  }

 .wrap a:link, .wrap a:visited {
    background-color: #f44336;
    color: white;
    font-size: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
  }
  
  .wrap a:hover, .wrap a:active {
    background-color: #EF4E22;
  } */