@import "../../../font.css";

.exploreSection {
  background-color: #EF4E22;
}

.explore h6 {
  color: white;
  text-align: center;
  font-family: Montserrat Thin;
  font-size: 17px;
}

@media screen and (max-width: 480px) {
  .explore h6 {
    margin: 0;
    padding: 0;
  }
}


@media screen and (min-width: 990px) {
  .exploreSection {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .exploreWid {
    width: 104% !important;
    margin: auto;
    margin-left: -15px;
  }

  .explore h6 {
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    margin-left: 21px;
    margin-bottom: 0;
    font-weight: 600;
  }
}

@media screen and (min-width: 1200px) {
  .exploreWid {
    width: 95% !important;
    margin: auto;
  }
}

@media screen and (min-width: 1300px) {
  .exploreWid {
    width: 101% !important;
  }
}

@media screen and (min-width: 1400px) {
  .exploreWid {
    margin-left: -40px;
    width: 105% !important;
  }
}

@media screen and (min-width: 1500px) {
  .exploreWid {
    margin-left: -60px;
    width: 109% !important;
  }
}

.roomph {
  font-family: Montserrat Bold;
  color: white;
  font-size: 22px;
  font-weight: 800;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

@media screen and (max-width: 380px) {
  .roomph {
    font-size: 16px;
  }
}

.explore p {
  color: white;
  font-family: Montserrat Thin;
  font-size: 12px;
}

.All {
  box-sizing: border-box;
}

.ecolumn {
  float: left;
  width: 33.33%;
  margin: 0;
  padding: 0;
}

/* Clearfix (clear floats) */
.erow::after {
  content: "";
  clear: both;
  display: table;
}

.ecolumn img {
  width: 130%;
}

.exploreContainer {
  margin: 0;
  padding: 0;
}

.hrLineOrangeExplore {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: #FF9400;
  border-color: #FF9400;
}

.expCont {
  padding-left: 13px;
  padding-top: 40px;
}

@media screen and (min-width: 480px) {
  .exploreCityImage {
    padding-left: 20px;
  }


  .expCont {
    padding-top: 60px;
  }

  .ecolumn img {
    width: 100%;
  }

  .exploreContainer {
    margin: 0;
    padding: 0;
    margin-left: -20px;
  }

  .hrLineOrangeExplore {
    color: #FF9400;
    border: 1px solid#FF9400;
    width: 900px;
    margin-left: 30px;
  }

  .strpc {
    margin-left: -5px;
  }

  .strpc1 {
    margin-left: -20px;
  }

  .strpc2 {
    margin-left: 10px;
  }
}