.Btn {
  width: 80px;
  height: 20px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  background-color: #EF4E22;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.Btn:hover {
  background-color: #fca527;
}