@import "../../../font.css";

.Ful1 {
    margin-left: 20px;
}

.reviewsHeading {
    margin-bottom: 15px;
}

.TR {
    font-family: Montserrat Bold;
    font-size: 22px;
}

.revHotelPic {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 5px;
    object-fit: cover;
}

@media screen and (min-width: 480px) {
    .revHotelPic {
        width: 110%;
        height: 35px;
        object-fit: cover;
    }

    .revContNeww {
        width: 100%;
    }

    .reviewsHeading {
        margin-bottom: 30px;
    }

    .fulContReviews {
        margin: 0;
        width: 100%;
    }

    .Ful1 {
        margin-left: 6px !important;
        width: 95% !important;
    }

    .revSliderContainerNew {
        width: 85%;
        margin: auto;
    }

    /* .Ful2 {}

    .Ful3 {} */

}

.hotelName {
    font-family: Montserrat Bold;
    font-size: 18px;
}

@media screen and (min-width: 480px) {
    .hotelName {
        margin-top: 15px;
        margin-left: -20px;
        font-size: 14px;
    }
}

.reviewText {
    font-size: 16px;
}