.Slcontainer {
    position: relative;
    text-align: center;
    color: white;
  }
  .disPic{
  display: block;
  width: 100%;
  height: auto;
  }
  .Slcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }