@import "../../../font.css";
.mpD{
    font-family: Montserrat Bold;
    font-size: 22px;
    white-space: nowrap;
}
.aligned a, .cities a{
   color:black;
   font-family: Montserrat Bold;
   text-transform: capitalize;
   font-size: 17px;
}

.RP{
    font-family: Montserrat Thin;
}
.viewAllBtn a{
    color:black;
    font-size: 15px;
}
.aligned {
    display: flex;
    align-items: center;
}

.aligned span {
    width: 500px;
    
}

.cityPic{
    width:100px;
    margin-top: 10px;
    height:80px;
}

